@charset "UTF-8";

/* Media Query para Tablets */
@media only screen and (min-width: 768px ) {
    body{
        background-image: linear-gradient(to top, #1E6C9A,#1D2146);
     
    }
    section#login{
        /* Section Principal que contem todos os componentes da tela */
        width: 90vw;
        height: 45vh;
   
    }

    section#login > div#imagem{
        /* Div que contem a imagem! */
        float: left;
        width: 40%;
        height: 100%;

    }
    section#login> div#formulario{
        /* Div que contem o conteudo! */
        float: right;
        width: 60%;
    }

    div#formulario > h1{
        font-size: 1.9em;
    }

    div#formulario > p{
        font-size: 1.1em;
    }


    form> input[type=submit]{
        display: block;
        font-size: 1em;
        width: 70%;
        height:40px;
        background-color: #1d254aea;
        color: white;
        border: none;
        border-radius: 5px;
     
        margin-top: 10px;
     
    }
    form > div.campo{
        background-color: #617CCB;
        display: block;
        width: 70%;
        height: 40px;
        border-radius: 5px;
        margin: 5px 0px;
    }

    form > input[type=submit]:hover{
        background-color:#3E75B2;
    }
    


    form > a.botao{
        width: 70%;
        height: 40px;
        margin-top: 10px;
    }
    #icon{
        padding-top: 10px;
        font-size: 1em;
        
        
    }
}


/* Media Query para Laptps/Deskyops & TV'S */
@media only screen and (min-width: 992px)  {

    body{
        background-image: linear-gradient(to top, #4EC8E9,#1D2146);
     
    }
    section#login {
        width: 90%;
    }

    section#login > div#imagem{
        float: right;
        width: 40%;
        height: 100%;
    }

    section#login> div#formulario{
        /* Div que contem o conteudo! */
        float: left;
        width: 60%;
    }
    div#formulario > h1{
        font-size: 2.1em;
    }
    div#formulario > p{
        font-size: 1.2em;
    }

    form> input[type=submit]{
        display: block;
        font-size: 1em;
        width: 70%;
        height:40px;
        background-color: #3D8FB2;
        color: white;
        border: none;
        border-radius: 5px;
     
    }
    form > input[type=submit]:hover{
        background-color: #48B2D3;
     }
     
    form > a.botao:hover{
        color: white;
        background-color: #3D8FB2;
    }

}
